
  
  /*-------------------------Animations */
  
  .rolling-pride{
      width: 100%;
      height: calc(100vh - 70px);
      margin: 50 auto;
      -webkit-animation: color_change 1.5s infinite ease-in-out;
      -moz-animation: color_change 1.5s infinite ease-in-out;
      -ms-animation: color_change 1.5s infinite ease-in-out;
      -o-animation: color_change 1.5s infinite ease-in-out;
      animation: color_change 1.5s infinite ease-in-out;
      position: relative;
      top: 70px;
  }
  
  @-webkit-keyframes color_change {
      0% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      10% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      20% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      30% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      40% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      50% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      60% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      70% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      80% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      90% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      100% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  }
  
  @-moz-keyframes color_change {
      0% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      10% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      20% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      30% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      40% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      50% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      60% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      70% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      80% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      90% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      100% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  }
  
  @-ms-keyframes color_change {
      0% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      10% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      20% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      30% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      40% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      50% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      60% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      70% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      80% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      90% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      100% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  }
  
  @-o-keyframes color_change {
      0% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      10% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      20% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      30% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      40% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      50% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      60% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      70% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      80% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      90% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      100% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  }
  
  @keyframes color_change {
      0% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      10% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      20% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      30% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      40% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      50% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  
      60% {
          background: repeating-linear-gradient(135deg,
                  #FFCA3A 0px,
                  #FFCA3A 10px,
                  #8AC926 20px,
                  #8AC926 30px,
                  #1982C4 40px,
                  #1982C4 50px,
                  #64AC93 60px,
                  #64AC93 70px,
                  #FF595E 80px,
                  #FF595E 90px);
      }
  
      70% {
          background: repeating-linear-gradient(135deg,
                  #8AC926 0px,
                  #8AC926 10px,
                  #1982C4 20px,
                  #1982C4 30px,
                  #64AC93 40px,
                  #64AC93 50px,
                  #FF595E 60px,
                  #FF595E 70px,
                  #FFCA3A 80px,
                  #FFCA3A 90px);
      }
  
      80% {
          background: repeating-linear-gradient(135deg,
                  #1982C4 0px,
                  #1982C4 10px,
                  #64AC93 20px,
                  #64AC93 30px,
                  #FF595E 40px,
                  #FF595E 50px,
                  #FFCA3A 60px,
                  #FFCA3A 70px,
                  #8AC926 80px,
                  #8AC926 90px);
      }
  
      90% {
          background: repeating-linear-gradient(135deg,
                  #64AC93 0px,
                  #64AC93 10px,
                  #FF595E 20px,
                  #FF595E 30px,
                  #FFCA3A 40px,
                  #FFCA3A 50px,
                  #8AC926 60px,
                  #8AC926 70px,
                  #1982C4 80px,
                  #1982C4 90px);
      }
  
      100% {
          background: repeating-linear-gradient(135deg,
                  #FF595E 0px,
                  #FF595E 10px,
                  #FFCA3A 20px,
                  #FFCA3A 30px,
                  #8AC926 40px,
                  #8AC926 50px,
                  #1982C4 60px,
                  #1982C4 70px,
                  #64AC93 80px,
                  #64AC93 90px);
      }
  }