* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}

body {
  font-family: Roboto, sans-serif;
  /* width: 100vw;
  height: 100vh; */
  /* display: flex; */
  overflow-x: hidden;
  color: #343330;
  background-color: #fffbfe;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #733A9B !important;
}

.navbar-toggler {
  border: .1em solid #f0f0f0;
  padding: .375rem .925rem;
}

.nav-link.active {
  background-color: #f0f0f0;
  color: #733a9b;
  cursor: default;
}

.nav-link:not(.active):hover {
  background-color: #f0f0f0;
  opacity: 0.85;
  color: #733a9b;
}

.fas.fa-bars {
  color: #f0f0f0;
  font-weight: 600;
}

.navLinks a {
  color: #F0f0f0;
  font-size: 100%;
}

.logoStyling img {
  height:60px;
  position: relative;
  left: -.5em;
}

.flip-card-row {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.flip-card-outer {
  width: 100vw;
  height: calc(100vh - 3.75em);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.flip-card-wrapper {
  position: relative;
  top: 3em;
}

.flip-card-container {
  width: 330px;
  height: 440px;
/*   border: 1px solid #ccc; */
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-container.flip .flip-card {
  transform: rotateY(180deg);
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
/*   Below is optional */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 10px 14px 38px 1px rgba(0,0,0,0.75);
}

.flip-card-front {
  background-color: #333;
  color:#fff;
}

.flip-card-back {
  background-color: #1982C4;
  color:#fff;
  transform: rotateY(180deg);
}

.flip-card-front img:not(.icon) {
  width:100%;
  height: 100%;
  border-radius: 0.5rem;
  position: relative;
}

.flip-over-icon, .pride-doughnut-icon {
  position: absolute;
}

.pride-doughnut-icon-back {
  position: relative;
}

.flip-over-icon {
  right: 3px;
  bottom: -5px;
}

.pride-doughnut-icon {
  left: 5px;
  top: 5px;
}

.flip-card-back p {
  margin: 1rem;
  margin-top: .5rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.bg-green {
  background-color: #8ac926;
}

.box-shadow-green {
  box-shadow: rgba(138, 201, 38, 0.85) 0 0 20px 5px;
}

.bg-blue {
  background-color: #1982c4;
}

.box-shadow-blue {
  box-shadow: rgba(25, 130, 196, 0.85) 0 0 20px 5px;
}

.bg-purple {
  background-color: #6a4c93;
}

.box-shadow-purple {
  box-shadow: rgba(106, 76, 147, 0.95) 0 0 20px 5px;
}

.bg-yellow {
  background-color: #ffca3a;
}

.box-shadow-yellow {
  box-shadow: rgba(255, 202, 58, 0.65) 0 0 20px 5px;
}

.contact-container {
  height: calc(100vh - 3.75em);
  position: relative;
  top: 3.75em;
}

.contact-list {
  width: 100%;
}

@media (min-width: 768px) {
  body {
    position: relative;
  }

  .flip-card-outer {
    max-width: 15.5em;
    height: unset;
    position: relative;
    top: 3.75em;
  }

  .flip-card-wrapper {
    top: 1em;
    height: 30vh;
    width: 100%;
    margin-bottom: 2em;
  }

  .flip-card-container {
    width: 100%;
    height: 30vh;
  }

  .flip-card-row {
    padding: 1em;
    position: relative;
    height: 120vh;
    scroll-snap-type: unset;
  }

  .nav-link {
    width: 7em;
    text-align: center;
  }

  .nav-link.active {
    background-color: #fffbfe;
    color: #733a9b;
    font-weight: 600;
  }

  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
    line-height: 3.75em;
    position: relative;
    left: .5em;
}

.flip-card-back {
  overflow-y: hidden;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.425);
}

.pride-doughnut-icon {
  width: 2.75em;
}
.flip-over-icon {
  width: 3.25em;
}

.flip-card-back p {
  font-size: .83rem;
  line-height: 1.15rem;
  margin-top: 1rem;
}

.name-wrapper {
  height: 4em;
  width: 100%;
  background-color: #733a9b;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.name-wrapper-heading {
  padding-right: 6em;
}

.card-1 .flip-card-front {
  overflow-y: hidden;
}

.card-1 .flip-card-front img:not(.icon) {
  position: relative;
  top: -4rem;
}

.flip-card-outer:nth-of-type(10),
.flip-card-outer:nth-of-type(11),
.flip-card-outer:nth-of-type(12) {
  padding-bottom: 3rem;
}

.flip-card-row {
  overflow-y: unset;
}
}

@media (min-width: 992px) {
h5 {
  font-size: 1.1em;
  position: relative;
  top: .15em;
}

.flip-card-outer:nth-of-type(9) {
  padding-bottom: 3rem;
}

.flip-card-row {
  padding: 2em;
  height: 129vh;
}

.flip-card-wrapper,
.flip-card-container {
  height: 43vh;
}

.flip-card-back p {
  font-size: .8125rem;
  line-height: .93rem;
}

.pride-doughnut-icon {
  width: 2.25em;
}

.flip-over-icon {
  width: 2.5em;
  bottom: 1%;
}

.logoStyling {
  position: relative;
  height: 3.75em;
  width: 16em;
}

.logoStyling img {
  height:4.5em;
  width: 16em;
  position: absolute;
  left: -1.25em;
  top: -.125em;
}
}

@media (min-width: 1200px) {
  .flip-card-row {
    max-width: 72em;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .flip-card-outer {
    max-width: 18em;
  }

  .flip-card-wrapper,
.flip-card-container {
  height: 40vh;
  min-height: 20em;
}

.name-wrapper-heading {
  padding-right: 2.5em;
  line-height: 3.282em;
  font-size: 1.2em;
}

.pride-doughnut-icon {
  width: 3em;
}

.flip-card-back p {
  font-size: .86rem;
  line-height: 1.15rem;
}
  }

  @media (min-width: 1440px) {
    .flip-card-row {
      max-width: 80em;
    }

    .flip-card-outer {
      max-width: 20em;
    }

    .flip-card-wrapper,
.flip-card-container {
  max-height: 22.5em;
}

.flip-card-back p {
  font-size: 1rem;
  line-height: 1.3rem;
}
    }