*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}

body {
  font-family: Roboto, sans-serif;
  /* width: 100vw;
  height: 100vh; */
  /* display: flex; */
  overflow-x: hidden;
  color: #343330;
  background-color: #fffbfe;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #733A9B !important;
}

.navLinks a {
  color: #FFFBFE;
  font-size: 143.5%;
}

.logoStyling img {
  height:80px;
}

.flip-card-row {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.flip-card-outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.flip-card-container {
  width: 330px;
  height: 440px;
/*   border: 1px solid #ccc; */
  perspective: 1000px;
}

.flip-card-container.flip .flip-card {
  transform: rotateY(180deg);
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
/*   Below is optional */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 10px 14px 38px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 14px 38px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 14px 38px 1px rgba(0,0,0,0.75);
}

.flip-card-front {
  background-color: #333;
  color:#fff;
}

.flip-card-back {
  background-color: #1982C4;
  color:#fff;
  transform: rotateY(180deg);
}

.flip-card-front img:not(.icon) {
  width:100%;
  height: 100%;
  border-radius: 0.5rem;
  position: relative;
}

.flip-over-icon, .pride-doughnut-icon {
  position: absolute;
}

.pride-doughnut-icon-back {
  position: relative;
}

.flip-over-icon {
  right: 3px;
  bottom: -5px;
}

.pride-doughnut-icon {
  left: 5px;
  top: 5px;
}

.flip-card-back p {
  margin: 1rem;
  margin-top: .5rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.bg-green {
  background-color: #8ac926;
}

.bg-blue {
  background-color: #1982c4;
}

.bg-purple {
  background-color: #6a4c93;
}

.bg-yellow {
  background-color: #ffca3a;
}

@media (min-width: 768px) {
  .flip-card-outer {
    width: 33.3333333333333333vw;
    height: 30vh;
  }

  .flip-card-container {
    width: 210px;
    height: 280px;
  }

  .flip-card-row {
    padding: 56px 2em 3em;
  }
} 

.flip-card-back p span {
  display:block;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  margin-top:1.25rem;
}

/*-------------------------Error Pages */

body{
    background-color: antiquewhite;
}

#title {
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: revert;
} 

#error-return {
    margin: auto;
    position: absolute;
    bottom: 10vh;
    left: 0; right: 0;
}  

#rainbow-box{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25%;
    left: 18%;
    transform: translate(-50%,-50%);
}
#top-left{
  transform: rotate(45deg)
}
#top-right{
  transform: rotate(135deg)
}
#bottom-left{
  transform: rotate(225deg)
}
#bottom-right{
  transform: rotate(315deg)
}

/* CREDIT: Animation: https://www.youtube.com/watch?v=7fgUiEk1yj0 */

ul{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
ul li{
    list-style: none;
    border-radius: 50%;
    border: 15px solid #000;
    position: absolute;
    top: 100%;
    left: 50%;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    animation: animate 5s infinite alternate;
    transform: translate(-75%,-75%) rotate(135deg);
}
ul li:nth-child(1){
    width: 60px;
    height: 60px;
    border-color: #ff0000;
    animation-delay: .2s;
}
ul li:nth-child(2){
    width: 90px;
    height: 90px;
    border-color: #ff7f00;
    animation-delay: .4s;
}
ul li:nth-child(3){
    width: 120px;
    height: 120px;
    border-color: #ffff00;
    animation-delay: .6s;
}
ul li:nth-child(4){
    width: 150px;
    height: 150px;
    border-color: #00ff00;
    animation-delay: .8s;
}
ul li:nth-child(5){
    width: 180px;
    height: 180px;
    border-color: #0000ff;
    animation-delay: 1s;
}
ul li:nth-child(6){
    width: 210px;
    height: 210px;
    border-color: #4b0082;
    animation-delay: 1.2s;
}
ul li:nth-child(7){
    width: 240px;
    height: 240px;
    border-color: #9400d3;
    animation-delay: 1.4s;
}

@keyframes animate{
    0%{
        transform: translate(-75%,-75%) rotate(135deg);
    }
    100%{
        transform: translate(-75%,-75%) rotate(-405deg);
    }
}

/*-------------------------Animations */

.rolling-pride{
    width: 100%;
    height: 700px;
    margin: 50 auto;
    -webkit-animation: color_change 1.5s infinite ease-in-out;
    -moz-animation: color_change 1.5s infinite ease-in-out;
    -ms-animation: color_change 1.5s infinite ease-in-out;
    -o-animation: color_change 1.5s infinite ease-in-out;
    animation: color_change 1.5s infinite ease-in-out;
}

@-webkit-keyframes color_change {
    0% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    10% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    20% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    30% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    40% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    50% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    60% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    70% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    80% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    90% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    100% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }
}

@-moz-keyframes color_change {
    0% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    10% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    20% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    30% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    40% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    50% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    60% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    70% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    80% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    90% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    100% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }
}

@-ms-keyframes color_change {
    0% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    10% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    20% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    30% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    40% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    50% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    60% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    70% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    80% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    90% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    100% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }
}

@-o-keyframes color_change {
    0% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    10% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    20% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    30% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    40% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    50% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    60% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    70% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    80% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    90% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    100% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }
}

@keyframes color_change {
    0% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    10% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    20% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    30% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    40% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    50% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }

    60% {
        background: repeating-linear-gradient(135deg,
                #FFCA3A 0px,
                #FFCA3A 10px,
                #8AC926 20px,
                #8AC926 30px,
                #1982C4 40px,
                #1982C4 50px,
                #64AC93 60px,
                #64AC93 70px,
                #FF595E 80px,
                #FF595E 90px);
    }

    70% {
        background: repeating-linear-gradient(135deg,
                #8AC926 0px,
                #8AC926 10px,
                #1982C4 20px,
                #1982C4 30px,
                #64AC93 40px,
                #64AC93 50px,
                #FF595E 60px,
                #FF595E 70px,
                #FFCA3A 80px,
                #FFCA3A 90px);
    }

    80% {
        background: repeating-linear-gradient(135deg,
                #1982C4 0px,
                #1982C4 10px,
                #64AC93 20px,
                #64AC93 30px,
                #FF595E 40px,
                #FF595E 50px,
                #FFCA3A 60px,
                #FFCA3A 70px,
                #8AC926 80px,
                #8AC926 90px);
    }

    90% {
        background: repeating-linear-gradient(135deg,
                #64AC93 0px,
                #64AC93 10px,
                #FF595E 20px,
                #FF595E 30px,
                #FFCA3A 40px,
                #FFCA3A 50px,
                #8AC926 60px,
                #8AC926 70px,
                #1982C4 80px,
                #1982C4 90px);
    }

    100% {
        background: repeating-linear-gradient(135deg,
                #FF595E 0px,
                #FF595E 10px,
                #FFCA3A 20px,
                #FFCA3A 30px,
                #8AC926 40px,
                #8AC926 50px,
                #1982C4 60px,
                #1982C4 70px,
                #64AC93 80px,
                #64AC93 90px);
    }
}